* {
  margin: 0;
}

body {
  background-color: #f5ebe0;
}

h1 {
  font-family: "Montserrat";
  font-size: 25px;
  color: #554470;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
  font-weight: 100;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav-button {
  text-decoration: none;
  color: #5e3a60;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 10px 20px;
  border: 2px solid #5e3a60;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  width: 120px;
}

.nav-button:hover,
.nav-button.active {
  background-color: #5e3a60;
  color: #b6c5e4;
}
p {
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    color: #554470;
    font-weight: lighter;
    margin: 50px;
  }