* {
  margin: 0;
}

body {
  background-color: #ffffff;
}

h1 {
  font-family: "Montserrat";
  font-size: 64px;
  color: #554470;
  text-align: left;
  padding: 10px;
  /*padding-bottom: 30px;*/
  font-weight: 100;
  margin-left: 10%;
}

h2 {
  font-family: "Montserrat";
  font-size: 25px;
  color: #554470;
  text-align: left;
  padding: 10px;
  /*padding-bottom: 30px;*/
  font-weight: 100;
  margin-left: 10%;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.nav-button {
  text-decoration: none;
  color: #5e3a60;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 10px 20px;
  border: 2px solid #5e3a60;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  width: 120px;
}

.nav-button:hover,
.nav-button.active {
  background-color: #5e3a60;
  color: #b6c5e4;
}
p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  color: #554470;
  font-weight: lighter;
  margin: 50px;
}

/* Grundlayout för varje rad */
.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Avstånd mellan text och bild */
  margin-bottom: 20px; /* Utrymme mellan raderna */
  padding-top: 30px;
}

/* Varannan rad vänds */
.gallery-row:nth-child(even) {
  flex-direction: row-reverse; /* Växla ordningen på text och bild */
}

/* Individuella objekt */
.gallery-item {
  flex: 1; /* Låt varje objekt ta upp lika mycket utrymme */
  display: column; /*ändrad från flex*/
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Specifik stil för textboxar */
.gallery-item.text {
  /*background-color: white;*/
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 150px;
}

.project-button {
  text-decoration: none;
}

/* Specifik stil för bilder */
.gallery-item.image img {
  max-width: 100%; /* Låt bilden anpassa sig till bredden */
  height: auto; /* Bevara proportioner */
  border-radius: 8px; /* Rundade hörn på bilden */
}

/*--------RESPONSIV--------*/

/* För mindre skärmar, som mobil */
@media (max-width: 767px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 0;
  }

  .nav-button {
    width: auto;
    padding: 10px 15px;
    font-size: 16px;
  }
}

/* För surfplattor */
@media (max-width: 1023px) {
  .nav-bar {
    justify-content: center;
    margin-left: 0;
  }
}
/* För surfplattor och mindre skärmar */
@media (max-width: 1023px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-left: 0;
  }
}
